{% extends "layouts/base.html" %} {% block content %}

<div class="wrapper stack-3xl" style="margin-top: var(--space-xl-2xl)" >
  <section class="previous-events stack-l" id="previous-events">
    <h2 class="text-step-8 font-head uppercase center">{{previous.headline}}</h2>
    <div class="event-list">
      <div class="event-list__years stack-l tabbed">
        <ul class="cluster">
          {% for year in site.years | reverse %}
          <li> <a href="#events{{year}}" class="">{{year}}</a>
          </li>
          {% endfor %}
        </ul>
        {% for year in site.years | reverse %}
        <section id="events{{year}}" class="stack-m">
          {% for event in collections.events %}
            {% set eventYear = event.data.date | dateYearFilter  %}
            {% if year == eventYear %}
              {% include "partials/previous-event.html" %}
            {% endif %}
          {% endfor %}
        </section>
        {% endfor %}
      </div>
    </div>
  </section>

  <section class="stack-xl-2xl" id="hosts">
    <h2 class="text-step-8 font-head uppercase center">{{baristas.headline}}</h2>
    <div class="baristas grid-switcher">
      {% for member in baristas.member %}
      <div class="barista sidebar-left stack-s ">
        <div class="person-image">
          <picture>
            <source
              srcset="images/{{member.img}}.webp"
              type="image/webp"
            />
            <img
              src="images/{{member.img}}.jpg"
              alt="Portrait of {{member.name}}"
              loading="lazy"
              width= "580" height= "580"
            />
          </picture>
        </div>
        <div class="barista__bodytext stack-2xs">
          <h3 class="text-step-1 weight-bold">{{member.name}}</h3>
          <p class="text-step-0 barista__social"><span><svg class="barista__icon" aria-hidden="true" focusable="false">
            <use xlink:href="/icons/icons.svg#twitter" />
            </svg></span><a href="https://twitter.com/{{member.twitter}}" target= "_blank" class="inline-link">@{{member.twitter}}</a>
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>

  <section class="stack-xl-2xl" id="submit">
    <h2 class="text-step-8 font-head uppercase center">Submit your talk</h2>
    {% include "partials/form.html" %}
  </section>
  <script src="/scripts/tablist.js"></script>
  {% endblock %}

</div>