{% extends "layouts/base.html" %} {% block content %}

<div class="wrapper stack-900">
  <section class="previous-events stack-500">
    <h2 class="text-900 font-headline uppercase">{{previous.headline}}</h2>
    <div class="event-list stack-500">
      <div class="event-list__years stack-500 tabbed">
        <ul class="cluster">
          {% for year in site.years.reverse() %}
          <li> <a href="#events{{year}}" class="">{{year}}</a>
          </li>
          {% endfor %}
        </ul>
        {% for year in site.years %}
        <section id="events{{year}}" class="stack-500">
          {% for event in collections.events %}
          {% set eventYear = event.data.date | dateYearFilter %}
          {% if year == eventYear %}
            {% include "partials/previous-event.html" %}
          {% endif %}
          {% endfor %}  
        </section>
        {% endfor %}
      </div>
    </div>
  </section>
  {# <section class="contact stack-900">
    <h2 class="uppercase font-headline center text-900">
      {{submit.headline}}
    </h2>
    {% include "partials/form.html"%}
  </section> #}
  <section class="stack-900">
    <h2 class="text-900 font-headline uppercase center">{{baristas.headline}}</h2>
    <div class="baristas grid-switcher">
      {% for member in baristas.member %}
      <div class="barista stack-500">
        <div class="barista__image">
          <picture>
            <source
              srcset="images/{{member.img}}.webp"
              type="image/webp"
            />
            <img
              src="images/{{member.img}}.jpg"
              alt="Portrait of {{member.name}}"
            />
          </picture>
        </div>
        <div class="barista__bodytext">
          <h3>{{member.name}}</h3>
          <p><span><svg class="barista__icon" aria-hidden="true" focusable="false">
            <use xlink:href="/icons/icons.svg#twitter" />
            </svg></span><a href="https://twitter.com/{{member.twitter}}" target= "_blank" class="inline-link">@{{member.twitter}}</a>
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  <script src="/scripts/tablist.js"></script>
  {% endblock %}

</div>