{% extends "layouts/base.html" %}
{% block content %}
  <div class="wrapper stack-2xl">
    {% if videoId %}
    <section class="talk-details">
      <div class="plain-html stack-m">
        {{ content | safe }}
      </div>
    </section>
      <hr class="seperator">
    {% endif %}

    <section class="speaker-bio stack-2xl">
      <div class="speaker-info sidebar-left">
        <div class="person-image">
          <picture>
            <source
            srcset="/images/speaker/{{speakerImage}}.webp"
            type="image/webp"
            />
            <img
            src="/images/speaker/{{speakerImage}}.jpg"
            alt="Portrait of {{speaker}}"
            loading="lazy"
            width= "580" height= "580"
            />
          </picture>
        </div>
        <div class="speaker-info__text stack-m">
          <h2 class="font-head text-step-4 uppercase weight-bold">{{speaker}}</h2>
          <p class="text-step-0 speaker-info__social"><span><svg class="speaker-info__icon" aria-hidden="true" focusable="false" >
              <use xlink:href="/icons/icons.svg#twitter" />
            </svg></span><a href="{{twitter.url}}" target= "_blank" class="inline-link">{{twitter.text}}</a>
          </p>
          <div class="text-step-1 stack-s">{{ speakerBio | markdownFilter | safe }}</div>
        </div>
      </div>
      {% if speaker2 %}
      <hr class="seperator">
      <div class="speaker-info sidebar-right">
        <div class="speaker-info__text stack-m">
          <h2 class="font-head text-step-4 uppercase weight-bold">{{speaker2}}</h2>
          <p class="text-step-0 speaker-info__social">
            <span>
              <svg class="speaker-info__icon" aria-hidden="true" focusable="false">
                <use xlink:href="/icons/icons.svg#twitter" />
              </svg>
            </span>
            <a href="{{twitter2.url}}" target= "_blank" class="inline-link">{{twitter2.text}}</a>
          </p>
          <p class="text-step-1">{{speaker2Bio | markdownFilter | safe}}</p>
        </div>
        <div class="person-image">
          <picture>
            <source
              srcset="/images/speaker/{{speaker2Image}}.webp"
              type="image/webp"
            />
            <img
              src="/images/speaker/{{speaker2Image}}.jpg"
              alt="Portrait of {{speaker2}}"
              loading="lazy"
               width= "580" height= "580"
            />
          </picture>
        </div>
      </div>
      {% endif %}
    </section>
    <hr class="seperator">
    {% if shared %}
    <section class="take-away">
      <img src="/images/Coffee-Cup.webp" alt="" class="decoration" loading="lazy" width= "392" height= "412">
      <img src="/images/take-away.svg" alt="" class="lettering" loading="lazy" width= "170" height= "148">
      {% include "partials/take-away.html" %}
    </section>
    <hr class="seperator">
    {% endif %}
    <section class="featured-events stack-s">
      <div class="featured switcher" style="--switcher-threshold: 45rem;">
        {% for event in helpers.getSiblingContent(collections.events, page ) %}
          {% set eventYear = event.data.date | dateYearFilter %}
          {% include "partials/similar-events.html" %}
        {% endfor %}
      </div>
    </section>
  </div>
{% endblock %}
