.baristas {
  --dgs-column-count-l: 2;
  --dgs-column-count-m: 2;
  --dgs-column-count-s: 1;
  --dgs-gap: var(--space-xl);
  grid-template-columns: 1fr 1fr;

  .barista {
    // display: flex;
    // gap: var(--space-m);
    // flex-wrap: wrap;
    // justify-content: center;

    --sidebar-gap: var(--space-m);
    --sidebar-width: min(25vw, 12rem);
    --sidebar-gap: var(--space-s-m);
    --sidebar-threshold: 12rem;
    --sidebar-justification: center;

    &__social {
      display: flex;
      align-items: center;
      gap: var(--space-2xs);
      flex-wrap: no-wrap;
    }

    &__icon {
      width: 1rem;
      height: 1rem;
      vertical-align: middle;
    }
  }
}
