dialog {
  border: none;
  padding: var(--space-xl) var(--space-l);
  width: 90vw;
  max-width: 70ch;
  margin-inline: auto;
  overflow: visible;

  .close-modal {
    background: var(--color-white);
    border: none;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    position: absolute;
    right: 0;
    top: calc(var(--space-2xl) * -1);
  }

  &::backdrop {
    background: var(--color-dark);
    opacity: 0.9;
  }
}
