.form {
  --switcher-gap: var(--space-xl);
  --switcher-threshold: 40rem;

  form {
    display: flex;
    flex-direction: column;
    max-width: 35rem;
    width: 100%;
    label {
      cursor: pointer;
      color: get-color("gray-200");
      font-style: italic;
    }

    input:not([type="submit"]),
    textarea {
      background: get-color("gray-800");
      width: 100%;
      padding: 0.5rem 1rem;
      resize: vertical;
      border: none;
      color: white;

      &:focus {
        outline: 2px dashed get-color("secondary-10");
        outline-offset: -5px;
      }
    }
    input[type="submit"] {
      align-self: flex-end;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }
}
