.plain-html {
  > * + * {
    margin-top: var(--space-xs);
  }

  h2 {
    margin-top: var(--space-m);
  }

  p {
    font-size: get-size("step-2");
    @include apply-utility("weight", "bold");
    line-height: 1.5;
  }
}
