.speaker-info,
.talk-details {
  max-width: 46.875rem;
}

.speaker-info {
  --sidebar-gap: var(--space-l);
  --sidebar-width: 10.95rem;
  --sidebar-threshold: 20rem;

  span {
    margin-right: var(--space-2xs);
  }

  &__social {
    display: flex;
    align-items: center;
    gap: var(--space-2xs);
    flex-wrap: no-wrap;
  }

  &__icon {
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
  }
}
