.site-foot {
  margin-top: var(--space-2xl);

  .sitemap {
    padding: var(--space-l) 0;

    &__logo {
      width: 10rem;
    }
    &__info {
      --cluster-justification: flex-end;
    }
  }

  .icon {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    color: #1ea2f1;

    &--meetup {
      color: get-color("white");
      width: 3.875rem;
      height: 1.875rem;
    }

    &:hover {
      color: get-color("secondary-10");
    }
  }
}
