.speaker-card {
  position: relative;
  transition: 0.3s ease;
  border-bottom: 4px dotted #92def1;
  padding: var(--space-m);

  .speaker-card__image {
    box-shadow: 3.29604px 3.29604px 43.2px #000000;
    transition: 0.3s ease;

    img {
      aspect-ratio: 1/1;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .speaker-card__link {
    position: absolute;
    inset: 0;
  }

  button {
    background: transparent;
    border: none;
  }

  &::after {
    content: "";
    width: 87%;
    height: 40%;
    bottom: var(--space-m);
    position: absolute;
    left: 0;
    background: var(--color-secondary-10);
    border-radius: 4px;
    opacity: 0;
    transition: 0.2s ease;
    z-index: -1;
  }

  &:hover {
    cursor: pointer;

    .speaker-card__image {
      box-shadow: 3.29604px 3.29604px 4.94406px #000000;
      transform: matrix(1, -0.03, 0.06, 1, 0, 0);
    }

    &::after {
      opacity: 1;
    }

    h3 {
      color: var(--color-dark);
    }
  }
}
