.speaker-card {
  position: relative;
  transition: 0.3s ease;
  border-bottom: 4px dotted #92def1;
  padding: var(--space-m);

  &::after {
    content: "";
    width: 87%;
    height: 40%;
    bottom: var(--space-xs);
    position: absolute;
    left: 0;
    background: var(--color-secondary-10);
    border-radius: 4px;
    opacity: 0;
    transition: 0.2s ease;
    z-index: -1;
  }

  &:hover,
  &:has(:focus-visible) {
    & .speaker-card__image {
      box-shadow: 3.29604px 3.29604px 4.94406px #000000;
      transform: matrix(1, -0.03, 0.06, 1, 0, 0);
    }

    &::after {
      opacity: 1;
    }

    & .speaker-card__name {
      color: var(--color-dark);
    }
  }

  &:has(:focus-visible) {
    outline: 2px dashed get-color("primary");
  }
}

.speaker-card__image {
  box-shadow: 3.29604px 3.29604px 43.2px #000000;
  transition: 0.3s ease;

  img {
    aspect-ratio: 1/1;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.speaker-card__button {
  position: absolute;
  inset: 0;
  cursor: pointer;
  background: transparent;
  border: none;

  &:focus {
    outline: none;
  }
}

.speaker-card__name {
  margin-bottom: var(--space-xs);
}
