[role="tablist"] {
  padding: 0;
}

[role="tablist"] li,
[role="tablist"] a {
  display: inline-block;
}

[role="tablist"] a {
  text-decoration: none;
  padding: var(--space-2xs) var(--space-s);
}

[role="tablist"] [aria-selected] {
  display: inline-block;
  pointer-events: auto;
  cursor: pointer;
  border-radius: 4px;
  padding: var(--space-xs) var(--space-s);
  font-size: 1em;
  color: get-color("white");
  background: get-color("primary");
  @include apply-utility("weight", "semi-bold");
  border: 1px solid get-color("primary");

  &:focus {
    outline-offset: -5px;
  }
}
