/**
 * WRAPPER
 * Sets a max width, adds a consisten gutter and horizontally
 * centers the contents
 */

.wrapper,
.wrapper-small {
  padding: 0 var(--space-m);
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.wrapper {
  max-width: 80rem;
}

.wrapper-small {
  max-width: 60rem;
}
