/**
 * WRAPPER
 * Sets a max width, adds a consisten gutter and horizontally
 * centers the contents
 */
.wrapper {
  max-width: 63.75rem;
  padding: 0 get-size("step-4");
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
