---
permalink: /
title: Home
eleventyComputed:
  metaDesc: "Next Meetup: {{ events.next.dateTime | readableDate({ month: 'short', day: 'numeric', year: 'numeric', hour: 'numeric' }) }} CET | {{ events.next.title }} by {{ events.next.speakers | speakerNames }}"
---

{% extends "layouts/base.html" %}
{% block content %}

  <div class="stack-3xl" style="margin-top: var(--space-xl-2xl)" >
    <div class="wrapper">
      <section class="previous-events stack-l" id="previous-events">
        <h2 class="text-step-8 font-head uppercase center">Previous <br/> events</h2>
        <div class="event-list">
          <div class="event-list__years stack-l tabbed">
            <ul class="cluster">
              {% for year in events.years %}
                <li>
                  <a href="#events-{{year}}" class="">{{year}}</a>
                </li>
              {% endfor %}
            </ul>
            {% for year in events.years %}
              <section id="events-{{year}}" class="stack-m">
                {% for event in events.byYear[year] %}
                  {% set eventYear = event.dateTime | dateYearFilter %}
                  {% if year == eventYear %}
                    {% include "partials/previous-event.html" %}
                  {% endif %}
                {% endfor %}
              </section>
            {% endfor %}
          </div>
        </div>
      </section>
    </div>

    {% include "partials/sections/baristas.html" %}
    {% include "partials/sections/submit-talk.html" %}
  {% endblock %}

</div>