---
permalink: "speakers/"
title: Speakers
eleventyComputed:
  metaDesc: "Discover our Wall of Fame"
---
{% extends "layouts/base.html" %}
{% block content %}

    <div class="stack-3xl">
        <ul class="wrapper | grid-switcher" role="list" style="
                --gs-columns-small: var(--gs-columns-small, 1);
                --gs-bp-medium: var(--gs-bp-medium, 25rem);
                --gs-columns-medium: var(--gs-columns-medium, 2);
                --gs-bp-large: var(--gs-bp-large, 50rem);
                --gs-columns-large: var(--gs-columns-large, 4);
                --gs-gap: 4px; 
                --gs-gap-vertical: var(--space-xl);
            ">
            {% for speaker in speakers %}
                <li class="speaker-card | stack-m">
                    <div class="speaker-card__image">
                        <img src="{{ speaker.image.url }}" eleventy:widths="500" alt="Portrait of {{ speaker.name }}"/>
                    </div>

                    <h3>{{ speaker.name }}</h3>
                    <form method="dialog">
                        <button class="speaker-card__link js-dialog-trigger" aria-haspopup="dialog" aria-controls="dialog:{{ speaker.name }}"></button>
                    </form>
                </li>

                <dialog id="dialog:{{ speaker.name }}" class="bg-white p-m | speaker-details">
                    <form method="dialog">
                        <button class="close-modal">
                            <span class="sr-only">Modal schließen</span>
                            <svg width="17" height="18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m1.063 1.563 15 15M16.063 1.563l-15 15" stroke="#000" stroke-width="2"/></svg>
                        </button>
                    </form>
                    <div class="stack-l">
                        <div class="speaker-info sidebar-left">
                            <div class="speaker-details__portrait">
                                <img src="{{ speaker.image.url }}" eleventy:widths="500" alt="Portrait of {{ speaker.name }}"/>
                            </div>
                            <div class="speaker-info__text stack-s">
                                <h2 class="font-head text-step-4 uppercase weight-bold color-dark">{{ speaker.name }}</h2>
                                <div class="text-step-0 stack-s">{{ speaker.description | safe }}</div>
                            </div>
                        </div>
                        <hr class="seperator">
                        <h3 class="font-head uppercase text-step-2 color-dark">Talks</h3>
                    </dialog>
                {% endfor %}
            </ul>

            <div class="wrapper">
                <section class="stack-xl-2xl" id="submit" style="margin-bottom: var(--space-3xl)">
                    <h2 class="text-step-8 font-head uppercase center">Submit your talk</h2>
                    {% include "partials/form.html" %}
                </section>
                <hr class="seperator">
            </div>

            <div class="wrapper-small">
                <section class="stack-xl-2xl" id="hosts">
                    <h2 class="text-step-8 font-head uppercase center">Meet your Baristas</h2>
                    <div class="baristas grid-switcher" style="
                    --gs-bp-medium: 35rem;
                    --gs-columns-large: 2;
                    --gs-gap: var(--space-xl);
                    --gs-gap-vertical: var(--space-m);
                     ">
                        {% for barista in baristas %}
                            <div class="barista sidebar-left stack-s ">
                                <div class="person-image">
                                    <img
                    src="/images/{{ barista.img }}.jpg"
                    alt="Portrait of {{ barista.name }}"
                    loading="lazy"
                    eleventy:widths="500"
/>
                                </div>
                                <div class="barista__bodytext stack-2xs">
                                    <h3 class="text-step-1 weight-bold">{{ barista.name }}</h3>
                                    <p class="text-step-0 barista__social">
                                        <span>
                                            <svg class="barista__icon" aria-hidden="true" focusable="false">
                                                <use xlink:href="/icons/icons.svg#twitter"/>
                                            </svg>
                                        </span>
                                        <a href="https://twitter.com/{{barista.twitter}}" target= "_blank" class="inline-link">@{{ barista.twitter }}</a>
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </section>
            </div>
        </div>

        <script src="/scripts/dialog.js"></script>
    {% endblock %}