// First up: config and functions
@import "config";
// Next: pull in gorko for design tokens
@import "../../node_modules/gorko/gorko.scss";
@import "reset";
@import "typography";

body {
  @include apply-utility("font", "base");
  @include apply-utility("color", "gray-50");
  @include apply-utility("bg", "dark");
  @include apply-utility("weight", "regular");
  line-height: 1.5;
  overflow-x: hidden;
  // background-image: url("/images/bg.svg");
  // background-repeat: no-repeat;
  // //background-position: 100% 100%;
  // background-size: cover;
}

h1,
h2,
h3 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
  @include apply-utility("leading", "flat");
}

p {
  @include apply-utility("color", "gray-50");
  @include apply-utility("leading", "loose");
  @include apply-utility("text", "step-3");
}
p:not([class]) {
  @include apply-utility("text", "step-1");
}

a {
  cursor: pointer;
  text-decoration: none;
  color: get-color("gray-50");

  &:focus {
    outline: 2px dashed currentColor;
    outline-offset: 3px;
  }
  &:hover {
    color: get-color("secondary-10");
  }
}

main {
  background-image: linear-gradient(
    180deg,
    #000 0%,
    rgba(0, 0, 0, 0.5) 25%,
    get-color("dark")
  );
  background-size: 100% 5rem;
  background-repeat: no-repeat;
  padding-top: var(--space-xl-2xl);
}

// *:focus {
//   outline: none;
//   box-shadow: inset 0 0 0 4px lightBlue;
// }

//Blocks
@import "blocks/baristas";
@import "blocks/button";
@import "blocks/event-card";
@import "blocks/event-list";
@import "blocks/event-teaser";
@import "blocks/form";
@import "blocks/masthead";
@import "blocks/person-image";
@import "blocks/plain-html";
@import "blocks/ribbon";
@import "blocks/seperator";
@import "blocks/single-event";
@import "blocks/site-foot";
@import "blocks/site-head";
@import "blocks/skip-link";
@import "blocks/speaker-card";
@import "blocks/tablist";
@import "blocks/table-header";
@import "blocks/take-away";
@import "blocks/up-next";
@import "blocks/video-shadow";
@import "blocks/youtube";

//Utilities
@import "utilities/center";
@import "utilities/sr-only";
@import "utilities/uppercase";

//Layout
@import "layout/centerflex";
@import "layout/cluster";
@import "layout/grid-switcher";
@import "layout/switcher";
@import "layout/sidebar";
@import "layout/stack";
@import "layout/wrapper";
