<article class="event-teaser sidebar-left bg-white">
  <time datetime="{{ event.dateTime | w3DateFilter }}" class="event-teaser__date color-dark bg-gray-10 uppercase text-step-2 weight-bold">{{event.dateTime | dateFilter}}</time>
  <div class="sidebar-right event-teaser__body">
    <div class="event-teaser__info">
      <a class=" event-teaser__link color-gray-800 text-step-2" href="/{{ event.title | slugify }}">
        <span class="color-gray-600 text-step-0" style="display: block;">
          {{ event.speakers | speakerNames }}
          <span class="sr-only">:</span>
        </span>
        {{ event.title }}
      </a>
    </div>
    <div class="button button--secondary" aria-hidden="true">View Event</div>
  </div>
</article>