<article class="event-card bg-white" >
    <time datetime="{{event.data.date | dateFilter}}" class="event-teaser__date color-dark bg-gray-10 uppercase text-step-2 weight-bold">{{event.data.date | dateFilter}}</time>
  <div class="event-card__info stack-m">
    <a href="{{ event.url }}" class="color-gray-800 text-step-2 md:text-step-3 weight-bold event-card__link" ><span class="color-gray-600 text-step-0" style="display: block;">{{event.data.speaker}} {% if event.data.speaker2 %} & {{event.data.speaker2}} {% endif %}<span class="sr-only">:</span></span>{{event.data.title}}
    </a>
  </div>
  <div style="margin-top: auto;">
    <div class="button button--secondary" aria-hidden="true" style="width: 100%; text-align: center; margin-top: auto; justify-self: flex-end;">View Event</div>
  </div>
</article>
