<footer id="footer" class="site-foot">
  <div class="wrapper">
    <hr class="seperator">
    <div class="sitemap centerflex">
      <div class="sitemap__logo">
        <a href="/" aria-label="CSS Cafe - home">
          {% include "partials/logo.svg" %}
        </a>
      </div>
      <div class="sitemap__info stack-2xs">
        <div class="cluster">
          <a href="https://www.meetup.com/de-DE/CSS-Cafe/">
            <svg class="icon icon--meetup" aria-hidden="true" focusable="false">
              <use xlink:href="/icons/icons.svg#meetup" />
            </svg>
            <span class="sr-only">Join us on Meetup</span>
          </a>
          <a href="https://twitter.com/css__cafe">
            <svg class="icon" aria-hidden="true" focusable="false">
              <use xlink:href="/icons/icons.svg#twitter" />
            </svg>
            <span class="sr-only">Follow CSS Cafe on Twitter</span>
          </a>
        </div>
        <div class="cluster uppercase">
          <a href="https://9elements.com/privacy" class="weight-regular">Data Privacy</a>
          <span>|</span>
          <a
            href="https://9elements.com/imprint"
            class="weight-regular"
            >Imprint</a
          >
        </div>
      </div>
    </div>
  </div>
</footer>
