<footer id="footer" class="site-foot gap-top-900">
  <div class="wrapper">
    <hr class="seperator">
    <div class="sitemap centerflex">
      <div class="sitemap__logo">
        <a href="/" aria-label="CSS Cafe - home">
          {% include "partials/logo-footer.svg" %}
        </a>
      </div>
      <div class="sitemap__info">
        <div class="cluster">
          <a href="#">
            <svg class="icon icon--meetup" aria-hidden="true" focusable="false">
              <use xlink:href="/icons/icons.svg#meetup" />
            </svg>
            <span class="sr-only">Meetup</span>
          </a>
          <a href="#">
            <svg class="icon" aria-hidden="true" focusable="false">
              <use xlink:href="/icons/icons.svg#twitter" />
            </svg>
            <span class="sr-only">Twitter</span>
          </a>
        </div>
        <div class="cluster uppercase">
          <a href="" class="weight-regular">Data Privacy</a>|<a
            href=""
            class="weight-regular"
            >Imprint</a
          >
        </div>
      </div>
    </div>
  </div>
</footer>
