<header role="banner" class="site-head">
  <div class="wrapper">
   <nav aria-label="Main" class="nav | centerflex">
      {% if page.url == "/" %}
        <span class="nav__home-link">
      {% else %}
        <a href="/" aria-label="{{ site.name }} - Home" class="nav__home-link"> 
      {% endif %}
        <div class="ribbon">
          <div class="ribbon__color">
            {% include "partials/logo.svg" %}
          </div>
        </div>
      {% if page.url == "/" %}
        </span>
      {% else %}
        </a>
      {% endif %}
      <div style="position: relative; flex-basis: 45rem;">
        <ul class="nav__items">
          {% for item in navigation.items %}
            <li class="nav__item uppercase">
              <a
                href="{{ item.url }}"
                class="nav__link  weight-semi-bold text-step-1"
                {{ helpers.getLinkActiveState(item.url,page.url) | safe }}
                >{{ item.text }}</a
              >
            </li>
          {% endfor %}
          </ul>
          {% if not ["/", "/speakers"].includes(page.url) %}
            <a href="/" aria-label="Go back" class="go-back uppercase text-step-0 weight-bold">< go back </a>
          {% endif %}
          
        </div>
    </nav>
  </div>
</header>

