<section class="table-header stack-2xl">
  <div class="wrapper stack-2xl-3xl">
    <h1 class="font-head uppercase color-gray-100 text-step-6">{{hero.body}}</h1>
    <div class="table-header__body">
      <div class="up-next sidebar-left">
        <div class="up-next__image">
          <img src="{{upNext.speakerImage}}" alt="Image of {{upNext.speaker}}" />
        </div>
        <div class="up-next__info stack-2xs">
          <h2 class="text-step-2 weight-bold ">Up next:</h2>
          <h3 class="font-head uppercase text-step-3 color-gray-100">{{upNext.topic}}</h3>
          <p class="weight-semi-bold text-step-0">
            <span class="weight-bold">{{upNext.date}} {{upNext.time}}</span><br>by {{upNext.speaker}}
          </p>
          <a href="{{upNext.meetupUrl}}" class="text-step-0 inline-link">Register now</a>
        </div>
      </div>
    </div>
  </div>

  <div class="table">
    <picture>
      <source srcset="/images/coffee/611-mockup.avif 611w, /images/coffee/1222-mockup.avif 1222w" type="image/avif"
        sizes="(min-width: 510px) 611px, 120vw">
      <source srcset="/images/coffee/611-mockup.webp 611w,/images/coffee/1222-mockup.webp 1222w" type="image/webp"
        sizes="(min-width: 510px) 611px, 120vw">
      <img srcset="/images/coffee/611-mockup.png 611w,/images/coffee/1222-mockup.png 1222w"
        src="/images/coffee/611-mockup.png" sizes="(min-width: 510px) 611px, 120vw" alt="" />
    </picture>
  </div>
</section>