<section class="table-header">
  <div class="stack-2xl">
    <div class="wrapper-small">
      <div class="stack-2xs">
        <h2 class="font-head text-step-6 uppercase">{{ event.title }}</h2>
        <p class="text-step-2 author">
        by
        {{ event.speakers | speakerNames }}
        </p>
        <p class="text-step-0">
          {{ event.dateTime | readableDate({ month: "short", day: "numeric", year: "numeric" }) }}
        </p>
      </div>
    </div>

    {% if event.youtubeVideoId %}
      <div class="wrapper">
        <div class="video-shadow">
          {% include 'partials/youtube.html' %}
        </div>
      </div>
    {% else %}
      <div class="wrapper-small">
        <section class="talk-details" style="margin-bottom: var(--space-2xl);">
          <div class="plain-html stack-m">
            {{ event.description | safe }}
          </div>
        </section>
      </div>
    {% endif %}

  </div>

  <div class="table"></div>
</section>