<div class="take-away shared-links stack-2xl">
    {% if shared.websites %}
    <div class="stack-m">
    <h3 class="font-head text-step-4">Websites</h3>
    <ul class="stack-m">
        {% for item in shared.websites %}
        <li><a href="{{item.url}}" target="_blank" >{{item.text}} </a>
        </li>
        {% endfor %}
    </ul>
    </div>
    {% endif %}
    
    {% if shared.youtube %}
    <div class="stack-m">
    <h3 class="font-head text-step-4">Youtube</h3>
    <ul class="stack-m">
    {% for item in shared.youtube %}
    <li><a href="{{item.url}}" target="_blank" style >{{item.text}} </a>
    </li>
    {% endfor %}
    </ul>
    </div>
    {% endif %}
    {% if shared.codepen %}
    <div class="stack-m">
    <h3 class="font-head text-step-4">Codepens</h3>
    <ul class="stack-m">
    {% for item in shared.codepen %}
    <li><a href="{{item.url}}" target="_blank" style >{{item.text}} </a>
    </li>
    {% endfor %}
    </ul>
    </div>
    {% endif %}
    {% if shared.twitter %}
    <div class="stack-m">
    <h3 class="font-head text-step-4">Recommended Twitter-Accounts</h3>
    <ul class="stack-m">
    {% for item in shared.twitter %}
    <li><a href="{{item.url}}" target="_blank" style >{{item.text}} </a>
    </li>
    {% endfor %}
    </ul>
    </div>
    {% endif %}

</div>